
*
  margin: 0
  padding: 0

body
  font-family: 'Work Sans', sans-serif

#tesla
  position: fixed
  top: 50%
  left: 50%

  .graphics
    position: absolute

    left: -27px
    top: -60px

    width: 55px
    height: 120px

    background-image: url(../img/tesla.png)
    background-size: 100% 100%

p
  font-size: 3rem
  font-weight: 500
  text-align: right
  padding: 1rem 1.5rem
